body {

	background: url(bd.jpg)
	no-repeat center fixed;
	background-size: cover;
	background-color: green;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	color: yellow;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;

}

h2 {
	color: blue;
	font-size: 18px;
	margin-top: 0;


}

.bio {
	width: 600px;
	color: red;
	font-size: 17px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.me {
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: orange;
	margin-top: 50px;
}

hr {
	width: 100px;


}